{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}
  <h1>Основное название: {{ main_header }}</h1>
  <p>Имя группы: {{ group }}</p>
  <article>
    {% for post in posts %}
      <ul>
        <li>
          Автор: {{ post.autor.get_full_name }}
        </li>
        <li>
          Дата: {{ post.pub_date|date:"D E Y" }}
        </li>
      </ul>
    <p>{{post.text}}</p>
    {% if not forloop.last %}<hr>{% endif %}
    {% endfor %}
  </article>
{% endblock %}